<?xml version="1.0"?>
<config>
    <modules>
        <Pfay_Product>
            <version>0.2.0</version>
        </Pfay_Product>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_view>

                        Pfay_Product_Catalog_Block_Product_View
                    </product_view>
                </rewrite>
            </catalog>
        </blocks>


        <models>
            <catalog>
                <rewrite>
                    <product> Pfay_Product_Catalog_Model_Product</product>
                </rewrite>
            </catalog>
        </models>

    </global>
</config>