<?xml version="1.0" ?>
<config>
    <modules>
        <DS_News>
            <version>0.0.1</version>
        </DS_News>
    </modules>
    <global>
        <models>
            <dsnews>
                <resourceModel>dsnews_resource</resourceModel>
            </dsnews>
            <dsnews_resource>
                <entities>
                    <table_news>
                        <table>ds_news_entities</table>
                    </table_news>
                </entities>
            </dsnews_resource>
        </models>
        <resources>
            <dsnews_setup>
                <setup>
                    <module>DS_News</module>
                </setup>
            </dsnews_setup>
        </resources>
    </global>
</config>