<?xml version="1.0" encoding="UTF-8"?>
<config>

    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Pfay_Checkout before="Mage_Checkout">Pfay_Checkout</Pfay_Checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
</config>